body {
	boarder: 0;
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 14px
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	}
.icon {
	background: url("images/icon.png")
	}
p {
	position:fixed;
	text-align:center;
	width: 100%;
	}